
<%= form_for @dog do |f| %>
 
  <div class="form-group">
    <%= f.label :animal_id %>
    <%= f.text_field :animal_id, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group col-md-6">
  <%= f.label :gender %>    
  <%= f.select :gender, Dog::GENDER, class: 'form-control' %>
    
  </div>
  <div class="form-group">
    <%= f.label :weight %> 
    <%= f.text_field :weight, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :age %>  
    <%= f.select :age, Dog::AGE, class: 'form-control' %>  
  </div>
  <div class="form-group">
    <%= f.label :breed_type %> 
    <%= f.select :breed_type, Dog::BREED_TYPE,  class: 'form-control' %>  
  </div>
  <div class="form-group">
  <%= f.label :primary_breed %>
  <%= f.select :breed, Dog::BREED, class: 'form-control' %>     
  </div>
  <div class="form-group">
    <%= f.label :secondary_breed %>
    <%= f.select :breed, Dog::BREED, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :cat_compatibility %>            
    <%= f.select :cat_compatibility, Dog::CAT_COMPATIBLE, class: 'form-control' %> 
  </div>
  <div class="form-group">
    <%= f.label :dog_compatibility %>
    <%= f.select :dog_compatibility, Dog::DOG_COMPATIBLE, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :human_compatibility %>
    <%= f.select :human_compatibility, Dog::HUMAN_COMPATIBLE, class: 'form-control' %>
 </div>
  <div class="form-group">
  <%= f.label :energy_level %> 
  <%= f.select :energy_level, Dog::ENERGY_LEVEL, class: 'form-control' %> 
 </div>
  <div class="form-group"> 
    <%= f.label :temperament %> 
    <%= f.select :temperament, Dog::TEMPERAMENT, class: 'form-control' %> 
  </div>  
  <div class="form-group"> 
    <%= f.label :fee %>
    <%= f.text_field :fee, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, rows: 10 %>
  </div>

  <div class="form-group">
    <p>
      <label>Current Avatar</label>
        <%= image_tag(@avatar) %>
        <%= f.file_field :avatar %>
    </p>  
    <p>
      <label>
        <%= f.check_box :remove_avatar %>
        Remove avatar
      </label>
    </p>
  <div class="form-group">   
    <%= f.submit "Save", class: 'btn btn-success' %>
  </div>
<% end %>


